# Apple Silicon M3 compatibility notes:
# If you encounter TensorFlow/Keras conflicts during installation, run:
# pip uninstall pyarrow
# This fixes compatibility issues between tf-keras and Apple Silicon optimizations.

pyyaml~=6.0.2
optuna~=4.4.0
opencv-python~=4.9.0
tifffile~=2025.6.11
matplotlib~=3.10.5
scikit-image~=0.25.2
imageio~=2.37.0
tqdm~=4.67.1
scikit-learn~=1.6.1
btrack~=0.6.2
scipy~=1.16.1
stardist~=0.9.1
python-dotenv~=1.1.1
git+https://github.com/vanvalenlab/cellSAM.git
csbdeep~=0.8.1
cellpose~=4.0.6
albumentations~=2.0.8
lpips~=0.1.4
torch~=2.7.1
requests~=2.32.3
pillow~=11.3.0
transformers~=4.56.1,
pytest~=8.3.5
pandas~=2.2.3
seaborn~=0.13.2
ultralytics~=8.3.159
numpy<2.0,>=1.26
huggingface_hub~=0.34.4
tensorflow-macos
gdown
tf-keras
